pkgbase = mpatch-bin
	pkgdesc = Applies diffs based on context, not line numbers. Useful for AI-generated code.
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/Romelium/mpatch
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = mpatch
	conflicts = mpatch
	source_x86_64 = mpatch-1.5.0-x86_64.tar.gz::https://github.com/Romelium/mpatch/releases/download/v1.5.0/mpatch-x86_64-unknown-linux-gnu-v1.5.0.tar.gz
	sha256sums_x86_64 = cb8c272dbfc7151c1da1c284962076a5d2869186588c723748639b4da7a8953d
	source_aarch64 = mpatch-1.5.0-aarch64.tar.gz::https://github.com/Romelium/mpatch/releases/download/v1.5.0/mpatch-aarch64-unknown-linux-gnu-v1.5.0.tar.gz
	sha256sums_aarch64 = 6b8a725042dd24fbcddf0d1ed79644578bef7eca7064622b3bc25ff52583e527

pkgname = mpatch-bin
